body {
  font: 1rem arial, helvetica, sans-serif;
  line-height: 1.5rem;
  color: #555;
  border-top: 5px solid #3ca44e; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

.btn-main {
  background: #3ca44e;
  color: #fff; }

.btn {
  text-shadow: none; }

.resume-block {
  border-left: solid 1px #3ca44e;
  padding: 0 1rem 2rem 1rem; }

.resume-block:last-child {
  margin-bottom: 3rem;
  padding-bottom: .75rem; }

.resume-block:before {
  width: 12px;
  height: 12px;
  border: 1px solid #3ca44e;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #f8f5f5;
  left: 9px; }

.resume-block:last-child:after {
  width: 12px;
  height: 12px;
  border: 1px solid #3ca44e;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #f8f5f5;
  left: 9px; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: #3ca44e; }

.main-header {
  height: 100vh;
  width: 100%;
  background: url("../images/desktop.jpg") no-repeat center;
  background-size: cover;
  text-shadow: 0px 1px 3px black; }

.my-details {
  padding-top: 40px; }

.left-side {
  padding: 120px 30px 70px 30px;
  background: #f8f8f8;
  min-height: 100%;
  border-right: 1px solid #e7e7e7; }

.right-side {
  padding: 120px 30px 70px 30px;
  min-height: 100%; }

.resume-block-date {
  font-weight: 800; }

.skills {
  padding-bottom: 4rem; }

.meter {
  height: 4px;
  position: relative;
  background: #d1d1d1;
  padding: 0; }

.meter > span {
  display: block;
  height: 100%;
  background-color: #3ca44e;
  position: relative;
  overflow: hidden; }

p {
  margin: .5rem 0; }

.img-circle {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e7e7e7; }

.btn {
  transition: ease all 0.3s;
  font-family: "Oswald", sans-serif; }

.btn-main {
  color: #fff;
  background: #2f2f2f;
  font-size: 1rem; }

.btn-main:hover {
  background: #3ca44e;
  color: #2f2f2f; }

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem; }

hr {
  border-top: 1px solid #e7e7e7; }

.stickem-container {
  position: relative; }

.stickit {
  margin-left: 660px;
  position: fixed;
  top: 0; }

.stickit-end {
  bottom: 40px;
  position: absolute;
  right: 0; }

.modal-content {
  padding: 1rem 2rem 2rem 2rem;
  background: #f8f8f8;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.39); }

.modal-footer {
  font-size: .65rem; }

.modal-footer p {
  width: 100%; }

.vh100 {
  height: 100vh; }

.main-header h1 {
  font-size: 6rem; }

.main-header h2 {
  color: #fff; }

.modal-content a {
  color: #555;
  font-size: 2.5rem; }

.carousel-control-prev, .carousel-control-next {
  opacity: .75; }

/*
@media only screen and (max-width: 768px) {
   .avatar { width: 75%; height: auto;}
}

*/
.alert {
  display: none; }

.see {
  display: block; }

.project a h4 {
  transition: ease all 0.3s; }

.project a:hover, .project a:hover h4 {
  color: #555;
  text-decoration: none; }

.aboutmecontent {
  position: sticky;
  position: -webkit-sticky;
  top: 20px; }

.port-filter {
  list-style: none;
  padding-left: 0; }

.port-filter li {
  display: inline;
  text-transform: uppercase;
  padding-right: 10px; }

.port-filter li::after {
  content: "|";
  color: #555;
  margin-left: 10px;
  display: inline-block; }

.port-filter li:last-child::after {
  display: none; }

.port-filter li {
  color: #d1d1d1;
  font-weight: bold;
  text-decoration: none;
  transition: ease all 0.3s; }

.port-filter li:hover, .port-filter li.active {
  color: #3ca44e;
  text-decoration: none; }

.inner-container {
  display: none; }

.modal-open {
  cursor: pointer; }

a {
  outline: none; }

.filter-btn {
  cursor: pointer; }

.hide {
  transform: scale(0);
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 !important;
  display: none; }

/*# sourceMappingURL=style.css.map */
